<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.ictakTestCases.SoftwareTestingCourse"/>
      <class name="com.qa.ictakTestCases.AdminDashboard_TestCases"/>
      <class name="com.qa.ictakTestCases.ContactUs_Testing"/>
      <class name="com.qa.ictakTestCases.DDJava"/>
      <class name="com.qa.ictakTestCases.DDFullStack"/>
      <class name="com.qa.ictakTestCases.LoginPage_TestCases"/>
      <class name="com.qa.ictakBase.Base"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
